<footer> 
    <div class="sibahleCard" >
        <img src="./public/sibahleprofilepicture_250x250.jpg" alt="Sibahle Profile Picture">
        Created by Sibahle Mayekiso &copy;</br>
        Software Engineering Student</br>
        
    </div>  
    <ul class="footSocials">
        <li id="github">
            <img src="" alt="Link to Sibahle's Github">
            <a href="http://">Github</a>
        </li>
        <li id="linkedin">
            <img src="" alt="Link to Sibahle's LinkedIn">
            <a href="http://">LinkedIn</a>
        </li>
        <li id="website">
            <img src="" alt="Link to Sibahle's personal Portfolio">
            <a href="http://">Portfolio</a>
        </li>
    </ul>
</footer>