<footer> 
    <div class="footer-container">
        <div class="sibahleCard" >
            <img src="sibahleprofilepicture_250x250.jpg" alt="Sibahle Profile Picture">
            <h1>Sibahle Mayekiso</h1>
            <h3>Software Engineering Student</h3>
            
        </div>  
        <p>Created by Sibahle Mayekiso &copy;</p>
        <ul class="footSocials">
            <li id="github">
                <img src="" alt="Link to Sibahle's Github">
                <a href="http://">Github</a>
            </li>
            <li id="linkedin">
                <img src="" alt="Link to Sibahle's LinkedIn">
                <a href="http://">LinkedIn</a>
            </li>
            <li id="website">
                <img src="" alt="Link to Sibahle's personal Portfolio">
                <a href="http://">Portfolio</a>
            </li>
        </ul>
    </div>
</footer>