<footer> 
    <div class="footer-container">
        <div class="sibahleCard" >
            <img src="sibahleprofilepicture_250x250.jpg" alt="Sibahle Profile Picture">
            <div class="sibahleCard-text">
                <h1>Sibahle Mayekiso</h1>
                <h3>Software Engineering Student</h3>
            </div>
            
            
        </div>  
        <div class="devCredits">
            <p>Created by Sibahle Mayekiso &copy;</p>
            <a target="_blank" href="https://icons8.com/">Icons by Icons8</a>
        </div>
        <ul class="footSocials">
            <li id="github">
                <a href="http://"><img src="https://img.icons8.com/metro/52/000000/github.png" alt="Link to Sibahle's Github"></a>
            </li>
            <li id="linkedin">                
                <a href="http://"><img src="https://img.icons8.com/metro/52/000000/linkedin.png" alt="Link to Sibahle's LinkedIn"></a>
            </li>
            <li id="website">    
                <a href="http://"><img src="https://img.icons8.com/metro/52/000000/geography.png" alt="Link to Sibahle's personal Portfolio"></a>
            </li>
        </ul>
    </div>
</footer>