<nav>
    <div class="nav-content-container">
        <a href="https://www.premierleague.com/">
            <img id="premierLeagueLogo"src="https://download.logo.wine/logo/Premier_League/Premier_League-Logo.wine.png" alt="English Premier League">
        </a>
    </div>
    
</nav>