<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier League | 2021/2022</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="grid-container">
        <%- include('./partials/navbar') %>
        <div class="main-content-container">
            <table>         
                <tr>
                    <th>One</th>
                    <th>Two</th>
                    <th>Three</th>
                    <th>Four</th>
                    <th>Five</th>
                    <th>Six</th>
                </tr>
                <tr>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                </tr>
                <tr>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                </tr>
                <tr>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                </tr>
                <tr>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                </tr>
                <tr>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                </tr>
                <tr>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                </tr>
                <tr>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                </tr>
                <tr>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                    <td>#########</td>
                </tr>
            </table>
        </div>     
        <%- include('./partials/footer') %>
    </div>
    
</body>
</html>