html{
   font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Nav styling */
nav{
    grid-column: 1/ span 3;
    background-color:darkgreen;
    height: 300px;
    justify-content: space-between;
}

#premierLeagueLogo{
    width: 500px;
    height: 100%;
    background-color:chartreuse;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
    
}
.grid-container{
    height: 100vh;
    display: grid;
    grid-template: 300px auto 500px / 1fr 1000px 1fr;
    background-color: rgba(0, 0, 0, 0.455);
}
.main-content-container{
    grid-row: 2/ span 1;
    grid-column: 1/ span 3; 
}
.main-content-container table{
    grid-column: 2/ 3; 
}




/*footer styling*/
footer{
    grid-row: 3/ span 1;
    grid-column: 1/ 4; 
    color: black;
    height: 100%;

    background-color: blue;
}

.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: red;
    justify-items: center;
    align-items: center;
    height: 100%;
}
.sibahleCard{
    grid-column: 1/ span 1;

    padding: 2em;
}

.devCredits{
    grid-column: auto;
}
.devCredits a{
    text-decoration: none;
}

.footSocials{
    grid-row: auto;
    grid-column: 3/ span 1;
}
.footSocials a{
    text-decoration: none;
    color: inherit;
}
.footSocials li{
    list-style: none;
}